button{
    border: 1px solid whitesmoke;
    padding: 5px 10px;
    font-size: 18px;
    background-color:aliceblue;
    font-weight: bold;
    box-shadow: 0 0 5px #ccc;
}

.warning{
    display: inline-block;
    color: red;
    font-weight: bold;
}